<!DOCTYPE html>
<html>
<head>
    <title>Thiocyn Coding Challenge</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
{% block body %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>